<?xml version="1.0"?>

<launch>
    <master auto="start"/>

    <!-- TF setting -->
    <include file="$(find racecar)/launch/includes/car_tf.launch.xml" />

    <!-- SENSOR DEVICE -->
    <!-- second startup ls01b lidar -->
     <include file="$(find racecar)/launch/ls01b_lidar.launch"/> 
    <!--<include file="$(find rplidar_ros)/launch/rplidar.launch" />   -->
    <!-- IMU 
    <include file="$(find hi226_imu)/launch/imu.launch" />-->
    <arg name="imu_package" default="spec" doc="package type [spec,0x91]"/>
	
    <include file="$(find imu_launch)/launch/imu_$(arg imu_package)_msg.launch"/>
    <!-- Car -->
    <node pkg="racecar_driver" type="racecar_driver_node" name="racecar_driver"/>

    <!-- encoder_driver -->
    <node pkg="encoder_driver" name="encoder_vel" type="Encoder_vel.py" output="screen">
        <param name="serial_port" value="/dev/encoder"/>
        <param name="k" value="0.85"/>
        <param name="baud_rate" value="57600"/>
    </node>

</launch>

